.section {
    &.search {
        position: relative;

        img.background {
            width: 100%;
        }

        .content {
            position: absolute;
            left: 116px;
            right: 116px;
            top: 32px;
            bottom: 32px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;

            .search {
                position: relative;

                &-btn {
                    border-radius: 25px;
                    background: #0F21FF;
                    box-shadow: 0px 12px 60px 50px rgba(34, 125, 44, 0.25);
                    display: flex;
                    height: 60px;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 32px;
                    gap: 12px;
                    align-self: stretch;
                    color: var(--White, #FFF);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 140%;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    z-index: 2;
                    top: 50%;
                    left: 23px;
                    transform: translateY(-50%);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8806 2.00195C17.2506 2.00195 21.6186 6.36995 21.6186 11.74C21.6186 14.2735 20.6463 16.5842 19.0553 18.3184L22.186 21.4427C22.479 21.7357 22.48 22.2097 22.187 22.5027C22.041 22.6507 21.848 22.7237 21.656 22.7237C21.465 22.7237 21.273 22.6507 21.126 22.5047L17.9575 19.345C16.2907 20.6798 14.1773 21.479 11.8806 21.479C6.5106 21.479 2.1416 17.11 2.1416 11.74C2.1416 6.36995 6.5106 2.00195 11.8806 2.00195ZM11.8806 3.50195C7.3376 3.50195 3.6416 7.19695 3.6416 11.74C3.6416 16.283 7.3376 19.979 11.8806 19.979C16.4226 19.979 20.1186 16.283 20.1186 11.74C20.1186 7.19695 16.4226 3.50195 11.8806 3.50195Z' fill='%238E8E8F'/%3E%3C/svg%3E%0A");
                }
            }

            input {
                border: none;
                outline: none;
                width: 100%;
                height: 60px;
                border-radius: 25px;
                color: #000000;
                background: #FAFAFA;
                padding-left: 70px;
                position: relative;

                &::placeholder {
                    color: rgba($color: #000000, $alpha: 0.5);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: -0.28px;
                }
            }

            p {
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: -0.32px;
                margin: 0px;
            }
        }
    }

    &.news {
        .nav-tabs {
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 64px;

            .nav-link {
                padding: 14px 0px;
                border: none;
                color: var(--Gray, #8E8E8F);
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: -0.32px;

                &.active {
                    border: none;
                    color: var(--Black, #181818);
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 160%;
                    letter-spacing: -0.32px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 6px;
                        left: 0px;
                        right: 0px;
                        border-radius: 25px 25px 0px 0px;
                        background: #0F21FF;
                        height: 6px;
                        width: 100%;
                    }
                }
            }
        }

        .news-list {
            display: flex;
            flex-direction: column;
        }

        .news-item {
            display: flex;
            padding: 32px 36px;
            align-items: flex-end;
            gap: 38px;
            align-self: stretch;
            border-bottom: 2px solid #F0F0F0;

            &:last-of-type {
                border-bottom: none;
            }

            // box-shadow: 50px 50px 100px 50px rgba(50, 50, 50, 0.05);
        }

        .content {
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            display: flex;
            align-self: stretch;
            gap: 8px;
            flex-direction: column;

            .text {
                flex: 1;
            }

            img {
                width: 272px;
                height: 203px;
            }

            .title {
                color: #000;
                font-size: 18px;
                font-weight: 600;
                line-height: 130%;
            }

            .dot {
                width: 6px;
                height: 6px;
                display: inline-block;
                background-color: #0F21FF;
                border-radius: 50%;
                margin: 0px 11px;
            }
        }

        .read-more {
            display: flex;
            padding: 12px 24px;
            justify-content: flex-end;
            align-items: center;
            gap: 12px;
            border-radius: 35px;
            background: #0F21FF;

            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 600;
            line-height: 120%;
            text-decoration: none;
        }

        .news-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(290px, 1fr));
            gap: 24px;

            .grid-item {
                border-radius: 25px;
                padding: 17px;
                background: #FFF;
                box-shadow: 50px 50px 100px 50px rgba(50, 50, 50, 0.05);

                display: flex;
                flex-direction: column;
                gap: 16px;

                .title {
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 120%;
                }

                .content {
                    color: var(--Gray, #8E8E8F);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    * {
                        margin: 0px;
                    }

                    .highlight {
                        color: #0F21FF;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 140%;
                    }
                }
            }
        }

        &.news-detail {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .date {
                display: flex;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 32px;
                background: rgba(15, 33, 255, 0.10);
                color: #0F21FF;
                font-size: 14px;
                font-weight: 600;
                line-height: 140%;
                align-self: flex-start;
            }

            .title {
                color: #000;
                font-size: 32px;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: -0.64px;
                margin-bottom: 34px;
            }

            p {
                margin: 0px;
                color: rgba($color: #000000, $alpha: 0.5);
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: -0.28px;
            }
        }
    }
}

.per-page {
    justify-self: start;
    align-self: flex-start;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: var(--base-white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 16px;


    select {
        background-color: transparent;
        border: none;
        color: var(--gray-700, #344054);
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
}

.pagination {
    * {
        border: none;
    }

    .page-link {
        width: 40px;
        height: 40px;
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: #475467;
    }

    .page-item.active {
        .page-link {
            border-radius: 8px;
            border: 1px solid #0F21FF;
            background: #0F21FF;
            color: #FFF;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }
    }
}

.about-leaflet {
    .row {
        gap: 72px;
        margin-top: 64px;

        img {
            width: 406.097px;
            height: 442px;
            flex-shrink: 0;
        }

        .badge {
            color: #0F21FF;
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;

            padding: 8px 16px;
            border-radius: 32px;
            background: rgba(15, 33, 255, 0.10);
            margin-bottom: 16px;
        }

        .title {
            color: #0F21FF;
            font-size: 18px;
            font-weight: 600;
            line-height: 160%;
            letter-spacing: -0.36px;

            display: flex;
            gap: 12px;
            margin: 0px;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_178_810)'%3E%3Cpath d='M12.0974 2.5C6.57741 2.5 2.09741 6.98 2.09741 12.5C2.09741 18.02 6.57741 22.5 12.0974 22.5C17.6174 22.5 22.0974 18.02 22.0974 12.5C22.0974 6.98 17.6174 2.5 12.0974 2.5ZM9.38741 16.79L5.79741 13.2C5.40741 12.81 5.40741 12.18 5.79741 11.79C6.18741 11.4 6.81741 11.4 7.20741 11.79L10.0974 14.67L16.9774 7.79C17.3674 7.4 17.9974 7.4 18.3874 7.79C18.7774 8.18 18.7774 8.81 18.3874 9.2L10.7974 16.79C10.4174 17.18 9.77741 17.18 9.38741 16.79Z' fill='%230F21FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_178_810'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.0974121 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }

        .text {
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: -0.32px;
            margin-bottom: 24px;
        }
    }
}

.leaflet-list {


    .title {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
    }

    .subtitle {
        color: #8E8E8F;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
    }

    .search {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            z-index: 2;
            top: 50%;
            left: 18px;
            transform: translateY(-50%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8806 2.00195C17.2506 2.00195 21.6186 6.36995 21.6186 11.74C21.6186 14.2735 20.6463 16.5842 19.0553 18.3184L22.186 21.4427C22.479 21.7357 22.48 22.2097 22.187 22.5027C22.041 22.6507 21.848 22.7237 21.656 22.7237C21.465 22.7237 21.273 22.6507 21.126 22.5047L17.9575 19.345C16.2907 20.6798 14.1773 21.479 11.8806 21.479C6.5106 21.479 2.1416 17.11 2.1416 11.74C2.1416 6.36995 6.5106 2.00195 11.8806 2.00195ZM11.8806 3.50195C7.3376 3.50195 3.6416 7.19695 3.6416 11.74C3.6416 16.283 7.3376 19.979 11.8806 19.979C16.4226 19.979 20.1186 16.283 20.1186 11.74C20.1186 7.19695 16.4226 3.50195 11.8806 3.50195Z' fill='%238E8E8F'/%3E%3C/svg%3E%0A");
        }
    }

    input {
        border: none;
        outline: none;
        width: 100%;
        padding: 8px;
        border-radius: 25px;
        color: #000000;
        background: #FAFAFA;
        padding-left: 46px;
        position: relative;
        border-radius: 16px;
        border: 1px solid #EAEAEA;

        &::placeholder {
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: -0.28px;
        }
    }

    td {
        padding: 15px;
        border-bottom: 1px solid var(--gray-100, #F2F4F7);

        &:last-of-type {
            text-align: right;
        }
    }

    .badge {
        color: #0F21FF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 12px;
        gap: 10px;
        border-radius: 8px;
        background: rgba(15, 33, 255, 0.05);
    }

    tr {
        &:last-of-type {
            td {
                border: none;
            }
        }
    }
}

.table-wrapper {
    position: relative;
    margin-top: 24px;
    border-radius: 24px;
    background: #FFF;
    padding: 32px;
    z-index: 2;
}

.survey {
    figure {
        display: inline-block;
        border-radius: 16px;
        background: rgba($color: #FFF, $alpha: 0.5);
        padding: 14.5px;
        z-index: -1;
        box-shadow: 50px 50px 100px 50px rgba(50, 50, 50, 0.05);
    }
}

.send-message {
    border: none;
    outline: none;
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 32px;
    background: #0F21FF;

    color: #FFF;

    /* text-base/semibold */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
}

.our-mission {
    padding: 54px;
    border-radius: 16px;
    background: rgba($color: #FFF, $alpha: 0.5);
    box-shadow: 50px 50px 100px 50px rgba(50, 50, 50, 0.05);

    .title {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
    }

    .text {
        margin-top: 12px;
        color: var(--gray-500, #667085);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.32px;
    }
}


.service-flow {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='1916' viewBox='0 0 82 1916' fill='none'%3E%3Cpath d='M35.9571 1C-1.6921 25.8314 -13.5502 162.785 23.5705 255.56C107.623 465.631 76.7435 553.537 69.4093 596.497C62.075 639.457 23.5702 835.062 12.2021 963.484C0.834007 1091.91 62.5 1248 69.4093 1308.99C73.315 1343.47 67.178 1486.27 23.5702 1692.43C-1.08048 1808.97 34.123 1915 34.123 1915' stroke='%23F2F4F7' stroke-width='2' stroke-dasharray='8 8'/%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    gap: 32px;

    .flow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 12px;

            span {
                color: #0F21FF;
            }
        }

        .text {
            color: var(--gray-500, #667085);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: -0.32px;
            opacity: 0.75;
        }

        &.step-1 {
            img {
                width: 472px;
            }

            .step {
                margin: 0px 60px;
            }
        }

        .step {
            color: #EAECF0;
            font-size: 200px;
            font-family: Poppins;
            font-weight: 600;
            line-height: 320px;
        }

        &.step-2 {

            .left,
            .right {
                width: 486px;
            }

            .step {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .queue-type {
                border-radius: 16px;
                padding: 24px;
                background: rgba($color: #FFF, $alpha: 0.5);
                box-shadow: 50px 50px 100px 50px rgba(50, 50, 50, 0.05);
                display: flex;
                flex-direction: column;
                gap: 8px;

                .title {
                    color: #0F21FF;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    margin-bottom: 8px;
                    text-align: center;
                }

                p {
                    padding: 8px 24px;
                    border-radius: 32px;
                    background: var(--gray-100, #F2F4F7);
                    color: var(--gray-500, #667085);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                    margin: 0px;
                }
            }
        }

        &.step-3 {
            img {
                width: 586px;
            }

            .step {
                margin: 0px 14px;
            }
        }

        &.step-4 {

            .left,
            .right {
                width: 512px;
            }

            img {
                width: 512px;
            }

            .step {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.step-5 {

            .left {
                display: flex;
                flex-direction: column;
                width: 412px;

                img {
                    width: 138px;
                    margin-bottom: 24px;
                    align-self: center;
                }
            }

            .right {
                width: 412px;

                img {
                    width: 412px;
                    margin-bottom: 12px;
                    align-self: center;
                }
            }

            .step {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.about-vitero {
    img {
        width: 975px;
    }

    .row {
        justify-content: space-between;
        margin-top: 68px;
        align-items: end;

        .vitero-option {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 306px;

            .item {
                display: flex;
                gap: 16px;
                align-items: center;
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.40px;
                word-wrap: break-word;

                svg {
                    width: 45px;
                    height: 45px;
                }

                span {
                    flex: 1;
                }
            }

            .send-message {
                font-size: 16px;
                padding: 22px 24px;
                border-radius: 35px;
                white-space: nowrap;
            }
        }
    }
}

.sigalon-intro {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .row {
        gap: 111px;
        align-items: center;
    }

    .title {
        color: #000;
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.64px;

        span {
            color: #0F21FF;
        }
    }

    .text {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.32px;
    }
}

.sigalon-about {
    .row {
        gap: 64px !important;
    }

    img {
        width: 449px;
    }
}

.sigalon-procedure {
    .title {
        color: #000;
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.64px;

        span {
            color: #0F21FF;
        }
    }

    .text {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.32px;
    }

    .row {
        margin-top: 48px;
        gap: 64px;
        align-items: center;

        hr {
            margin: 12px 0px;
            border-color: #F2F4F7;
        }

        img {
            width: 530px;
        }

        .title {
            font-size: 18px;
        }
    }
}

.poli-executive {
    .title {
        color: #000;
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.64px;

        span {
            color: #0F21FF;
        }
    }

    .text {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.32px;
    }

    .row {
        gap: 24px;
        align-items: center;

        .col {
            padding: 0px;

            img {
                width: 100%;
            }
        }
    }
}

.poli-services {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .services {
        display: flex;
        gap: 24px;

        .service-item {
            display: flex;
            padding: 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            border-radius: 16px;
            border: 1px solid var(--gray-200, #EAECF0);
            background: var(--gray-50, #F9FAFB);
            position: relative;

            img.absolute {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }

            .title {
                color: #000;
                font-size: 24px;
                font-weight: 600;
                line-height: 120%;
                margin-bottom: 8px;
            }

            &.fill {
                flex: 1;
            }

            &.small {
                width: 353px;
            }
        }
    }
}

.lasik {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .title {
        color: #000;
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.64px;

        span {
            color: #0F21FF;
        }
    }

    .text {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.32px;
    }



    &-card {
        padding: 14px 12px;
        border-radius: 25px;
        height: 100%;
        background: rgba($color: #FFF, $alpha: 0.5);
        box-shadow: 50px 50px 100px 50px rgba(50, 50, 50, 0.05);

        img {
            margin-bottom: 24px;
            width: 100%;
        }

        .title {
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 8px;
        }

        .text {
            color: var(--Gray, #8E8E8F);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}